# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control
.DS_Store
dist/*
target/
lib_managed/
src_managed/
project/.bloop
project/metals.sbt
project/project
project/boot/
project/plugins/project/
.history
.cache
.lib/

.idea
mdict-data/frame/
replay_pid12624.log
replay_pid11424.log
hs_err_pid12624.log
hs_err_pid11424.log
mdict-data/test.html
src/main/scala/replay_pid10496.log
src/main/scala/hs_err_pid10496.log
src/main/scala/META-INF/MANIFEST.MF

.bloop
.metals
.vscode
.bsp
