* {
    box-sizing: inherit;
}

code {
    color: #bd4147;
    font-size: 90%;
}

del {
    color: gray;
}

div {
    display: block;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    color: #014c8c;
    text-decoration: underline;
    outline: 0;
}

.word-box {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #727272;
}

.link-external {
    color: #090;
}

.link-external-header {
    background: green;
    color: white;
}

.content-table {
    border: 1px solid #bbb;
    padding: 12px 20px 18px 0px;
    box-sizing: inherit;
    display: inline-block;
}

.content-table-before {
    font-size: 18px;
    margin-left: 14px;
    margin-bottom: 12px;
    display: block;
}

.ct-indent {
    padding-left: 20px;
}

.ct-item {
    display: block;
}

.indent {
    padding-left: 10px;
}

blockquote {
    border: 2px dashed #ccc;
    border-left: 5px solid #7CBC6D;
    padding: 12px 53px 12px 12px;
    margin: 14px 0;
    background: #eee;
    display: table;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
    font-weight: bold;
    clear: both;
    margin: 27px 0 18px 0;
}

.footnote-list {
    margin: 21px 0;
    padding: 7px 0;
    border-top: 1px solid #777;
}

.footnote-item {
    line-height: 22px;
    display: block;
}

.doctype {
    border: 1px solid #777;
    padding: 5px;
    margin: 12px 0;
}

h1 {
    font-size: 29px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 14px;
}
